

.container5{
    bax-sizing:borber-box;
    width:100%;
    height:100vh;
    background-position:center;
    background-image:url(image/black.png);
    background-size:cover;
} 

.navbar{
    height:12%;
    display:flex;
    align-items:center;
}

.nav{
    flex:1;
    text-align:right;
}

.ul {
    list-style:none;
    display:inline-block;
    margin-left:60px;
}

.li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

.a{
    text-decoration:none;
    color:#fff;
    font-size:13px;
    font-family:Arial;
    margin-right:50px;

}

.logo{
    font-family:Arial;
    width:50px;
    cursor:pointer;
    color:white;
    margin-left:50px;
}

.row{
    display:flex;
    height:88%;
    align-items:center;
}

.col{
    flex-basis:50%;
}

.h1{
    font-family:Arial;
    color:white;
    font-size:100px;
    margin-left:50px;
    margin-bottom:0;

}

.p{
    color:white;
    font-family:Arial;
    font-size:11px;
    margin-left:50px;
}

.button{
    width:150px;
    height:35px;
    background-color:transparent;
    color:white;
    border-style:solid;
    border-color:white;
    margin-left:50px;
    font-family:Arial;
    margin-top:20px;
    cursor:pointer;
    border-radius:20px;
}

.button:hover{
    background-color:white;
    color:black;
}

.button:active{
    opacity:0.5;
}

.col{
    margin-right:100px;
    margin-left:50px;
}

.card{
    width:200px;
    height:230px;
    display:inline-block;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position:center;
    background-size:cover;
    border-radius:10px;
    font-family:Arial;
    transition : transform 0.5s;
}

.card1 {
    background-image: url(image/tshirt1.png);
}

.card2 {
    background-image: url(image/tshirt2.png);
}

.card3 {
    background-image: url(image/tshirt3.png);
}

.card4 {
    background-image: url(image/tshirt4.png);
}

.card:hover{
    transform: translateY(-10px);

}

.h5{
    margin-top:1px;
    color:black;
    text-shadow:0 0 5px #999;
    font-weight:bolder;
    margin-bottom:auto;
}

.p2 {
    margin-top: 1px;
    text-shadow: 0 0 5px #999;
    font-size:12px;
}


.title{
    text-align:center;
    font-family: Arial;
    font-size: 30px;
}

.gmail{
    text-align:center;
    font-family:Arial;
}

.message{
    margin-top: 30px;
    text-align:center;
    text-align:center;
    font-family: Arial;
}




.container4 {
    width: 500px;
    text-align: left;
    margin-left: 150px;
    margin-top: 200px;
    margin-bottom: 400px;

}

.about {
    color: black;
    font-family: Arial;
    font-size:xx-large;
}
.aboutinfo{
    font-family:Arial;

}

.video {
    width: 100%;
    height: auto;
    position:relative;
    display:flex;
}

.back-video{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
}

.contact {
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 30px;
}

.contact:hover {
    background-color: transparent;
    color: black;
}

.contact:active {
    opacity: 0.5;
}

.container{
    text-align:center;
}

#button-store {
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 30px;
    transition: color 0.4s linear;
}

    #button-store:hover{
       
       background-color: transparent;
       color: black;
    }

    #button-store:active {
        opacity: 0.5;
    }

.container2 {
    text-align: center;
}

#button-youtube {
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 15px;
  
}

    #button-youtube:hover {
        background-color: transparent;
        color: black;
    }

    #button-youtube:active {
        opacity: 0.5;
    }

.container3 {
    text-align: center;
}

#button-insta {
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 15px;
}

    #button-insta:hover {
        background-color: transparent;
        color: black;
    }

    #button-insta:active {
        opacity: 0.5;
    }

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
}

