 
        .title {
            margin-left: 300px;
            align-content: center;
            font-family: Arial;
            font-size: 30px;
        }

        .button-store{
            background-color:black;
            color:white;
            height:50px;
            width:200px;
            cursor:pointer;
            margin-left:250px;
            border-radius:30px;
            margin-top:30px;
           
        }
        .button-store:hover{
            background-color:white;
            color:black;
        }
        .button-store:active{
            opacity:0.5;
        }

        .button-youtube {
            background-color: black;
            color: white;
            height: 50px;
            width: 200px;
            cursor: pointer;
            margin-left: 250px;
            margin-top: 30px;
            border-radius: 30px;
        }
        .button-youtube:hover {
            background-color: white;
            color: black;
        }

        .button-youtube:active {
            opacity: 0.5;
        }

        .button-insta {
            background-color: black;
            color: white;
            height: 50px;
            width: 200px;
            cursor: pointer;
            margin-left: 250px;
            margin-top: 30px;
            border-radius: 30px;
        }
        .button-insta:hover {
            background-color: white;
            color: black;
        }

        .button-insta:active {
            opacity: 0.5;
        }
