html {
    scroll-behavior: smooth;

}


body {
    box-sizing: border-box;
    font-family: Arial;
    margin:0;
    padding:0;
}


.container5{
    padding-top:0;
    margin:0;
    box-sizing:border-box;
    width:100%;
    height:100vh;
    background-position:center;
 
    background:black;
    background-size:cover;
    border:none;
    position:relative;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.nav{
    flex:1;
    text-align:right;
}

.ul {
    list-style:none;
    display:inline-block;
    margin-left:60px;
}

.li {

   
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

.a{ 
   
    text-decoration:none;
    color:#fff;
    font-size:13px;
    font-family:Arial;
    margin-right:50px;

}

.logo{
    font-family:Arial;
    width:50px;
    cursor:pointer;
    color:white;
    margin-left:50px;
}

.row{
    display:flex;
    height:88%;
    align-items:center;
}

.col{
    flex-basis:50%;
}

.h1{

    font-family:Arial;
    color:white;
    font-size:100px;
    margin-left:50px;
    margin-bottom:0;

}

.p{
    color:white;
    font-family:Arial;
    font-size:11px;
    margin-left:50px;
}

.button{
    width:150px;
    height:35px;
    background-color:transparent;
    color:white;
    border-style:solid;
    border-color:white;
    margin-left:50px;
    font-family:Arial;
    margin-top:20px;
    cursor:pointer;
    border-radius:20px;
}

.button:hover{
    background-color:white;
    color:black;

    background-color: white;
    box-shadow: 0 0 10px white,
    0 0 40px white,
    0 0 80px white,
    0 0 160px white,
    0 0 240px white;
}

.button:active{
    opacity:0.5;
}

.col{
    margin-right:100px;
    margin-left:150px;
}

.card{
    width:200px;
    height:230px;
    display:inline-block;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position:center;
    background-size:cover;
    border-radius:10px;
    font-family:Arial;
    transition : transform 0.5s;
   
}

.card1 {
    background-image: url(image/tshirt1.png);
}

.card2 {
    background-image: url(image/tshirt2.png);
}

.card3 {
    background-image: url(image/tshirt3.png);
}

.card4 {
    background-image: url(image/tshirt4.png);
}

.card:hover{
    transform: translateY(-10px);
}

.h5{
    margin-top:1px;
    color:black;
    text-shadow:0 0 5px #999;
    font-weight:bolder;
    margin-bottom:auto;
}

.p2 {
    margin-top: 1px;
    text-shadow: 0 0 5px #999;
    font-size:12px;
}


.title{ 
    padding-top:100px;
    text-align:center;
    font-family: Arial;
    font-size: 30px;
    padding-top:30px;
}

.gmail{
    text-align:center;
    font-family:Arial;
}

.message {
    padding-bottom: 30px;   
    margin-top: 30px;
    text-align: center;
    text-align: center;
    font-family: Arial;
}


.container4 {
    padding-top:90px;
    width: 500px;
    text-align: left;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 400px;
}

.about {
    color: black;
    font-family: Arial;
    font-size:xx-large;
}
.aboutinfo{
    font-family:Arial;

}

.video {
    margin-top: 200px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
  
}

.back-video{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
}

.contact {
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 30px;

}

.contact:hover {
    background-color: transparent;
    color: black;
}

.contact:active {
    opacity: 0.5;
}


.container{
    text-align:center;
}

#button-store {
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 30px;
    transition: color 0.4s linear;
}

    #button-store:hover{
       opacity: 0.9;
    }

    #button-store:active {
        opacity: 0.5;
    }

.container2 {
    text-align: center;
}

#button-youtube {
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 15px;
  
}

    #button-youtube:hover {
        opacity: 0.9;
       
    }

    #button-youtube:active {
        opacity: 0.5;
    }

.container3 {
    text-align: center;
}

#button-insta {
    background-color: black;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 15px;
}

    #button-insta:hover {
        opacity: 0.9;
    }

    #button-insta:active {
        opacity: 0.5;
    }

.banner {
    width: 100%;
    height: 100vh;
    background:black;
    background-size: cover;
    background-position: center;
    padding-top:100px;
}

.call{
   border:solid;
   border-color:white;
   margin-top:10px;
   margin-top:100px;
   margin-bottom:100px;
   margin-left:500px;
   margin-right:500px;
   border-radius:30px;
   background-color:white;
   
}


.last {
    text-align: center;
    font-family: Arial;
    background:black;
    color: white;
    margin: 0;
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.drop{
    font-size:40px;
    cursor:pointer;
 
}

.drop:hover{
    color:mediumpurple;
}

.cord {
    position: relative;
    z-index: 1;
    display: grid;
    place-content: center;
    text-align: center;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    width: 365px;
    height: 365px;
    border: solid;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.cord1 {
    background-image: url(image/tshirt5.png);
}

.cord2 {
    background-image: url(image/tshirt6.png);
}

.cord3 {
    background-image: url(image/tshirt7.png);
}


    .cord::before,
    .cord::after {
        content: '';
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform 0.5s 0.25s;
    }

    .cord::before {
        top: 0;
        clip-path: polygon(0 0,100% 0,100% 45%,0% 100%);
        transform: translateY(-100%);
    }

    .cord::after {
        bottom: 0;
        clip-path: polygon(0 55%,100% 0,100% 100%,0% 100%);
        transform: translateY(100%);
    }

.cord__body {
    color:black;
    opacity: 0;
    transition: opacity 0.25s;
}

.cord__title {
    opacity: 0;
    color: #6a515e;
    margin-bottom: 15px;
    transition: opacity 0.25s;
}

.cord:hover::before,
.cord:hover::after {
    transform: translateY(0);
}

.cord:hover .cord__body ,.cord:hover .cord__title {
    opacity: 1;
    transition-delay: 0.75s;
}



.slider{
    width:100%;
    height:100vh;
    background:white;
    align-items:center;
    justify-content:center;
   
}

.choi{
    
    color:black;
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding:2rem;
}

.swiper{
    width:40%;
    height:fit-content;
}

.swiper-slide img{
    width:100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color:black;
}

.swiper .swiper-pagination-bullet-active{
    background:black;
}

.key{
    width:100%;
    height:100vh;
    background: black;
}
